.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.container header{
  width: 50%;
  margin: 84px 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container header img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 7px;
}

.container header .pfp{
  display: flex;
  align-items: center;
}

.container  .loginBtn{
  
  position: absolute;
  right: 25%;
  top: 50px;


  width: auto;
  background: none;
  color: #ea4c89;
  border: none;

  font-weight: 700;
  font-size: 16px;
 
  cursor: pointer;
  transition: filter 0.2s;
}

.container input{
  width: 50%;
  padding: 24px;

  background: #e6e6e6;
  border-radius: 5px;
  border: none;

  font-size: 16px;
  
}



.container .submitBtn{
  width: 50%;
  padding: 24px;
  font-weight: 700;

  background:#ea4c89;
  color: #fff;

  border-radius: 5px;
  margin: 12px 0 84px;
  border: none;

  cursor: pointer;
  font-size: 16px;
  transition: filter 0.2s;
}

.container button:hover,
.container header .loginBtn:hover{
  filter: brightness(0.9);
}